.hero .logo
{
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    min-height: 256px;
    min-width: 256px;
    animation: 2s zoom-in linear;
}

.hero .intro
{
    font-family: "Times New Roman", Times, serif;
    font-size: 10vw;
    font-weight: bold;
    animation: 3s fade-in linear;
}

.hero .tagline
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-style: italic;
    animation: 5s fade-in linear;
}

.hero .arrow
{
    height: 5vh;
    width: 5vh;
    padding-bottom: 2vh;
}

.hero .arrow:first-child
{
    animation: 1s animateArrow 4s linear infinite;
}

.hero .arrow:last-child
{
    animation: 1s animateArrow 4s linear infinite;
}

@media (max-width: 768px){
    .hero .intro
    {
        font-size: 15vw;
    }

    .hero .tagline
    {
        font-size: 10vw;
    }
}