@keyframes animateArrow
{
    0%
    {
       transform: translateY(-1vh);
    }
    25%
    {
        transform: translateY(0vh);
    }
    50%
    {
       transform: translateY(1vh)
    }
    75%
    {
        transform: translateY(0vh)
    }
    100%
    {
       transform: translateY(-1vh)
    }

}

@keyframes zoom-in
{
    0%
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}