/* Hero styles */
.hero .dp
{
    border-radius: 50%;
    border: 5px solid #ededee;
    height: 30vh;
    opacity: 0.85;
    width: 30vh;
    animation: dp 5s linear 1;
}

.hero .title
{
    animation: up 1s linear 1;
}
.hero .description
{
    animation: up 2s linear 1;
}
.hero .social
{
    animation: up 3s linear 1;
}
@keyframes up {
    0%
    {
        opacity: 0;
        transform: translateY(20vh);
    }
    50%
    {
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes dp {
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
}

.hero .social
{
    margin:0;
    padding: 0;
}

.hero .title
{
    font-family: cursive;
    letter-spacing: 0.1rem;
    margin: 5px;
    padding: 0;
}

.hero .description
{
    margin: 5px;
    letter-spacing: 0.2rem;
    padding: 0;
}

.hero .social .social-link
{
    border: 0.5px solid #ededee;
    border-radius: 50%;
    display: inline-block;
    font-size: 1rem;
    margin: 5px;
    padding: 0.5rem;
    text-transform: uppercase;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    width: 1.5rem;
}

.hero .social .social-link:hover
{
    background-color: #ededee;
    color: #202020;
}