*
{
    margin:0;
    padding: 0;
}

body
{    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a
{
    color: inherit;
    font-family: 'Lato', sans-serif;
    outline: none;
    text-decoration: none;
}