/* Navbar styles */
.navbar .nav
{
    margin: 0;
    padding: 0;
}

.navbar .nav li
{
    display: inline-block;
    padding: 0;
    margin: 5px;
}

.navbar .nav .link
{
    border: 0.5px solid #ededee;
    border-radius: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: 1s;
    opacity: 0.9;
    width: 5vw;
    text-align: center;
}


.navbar .nav .link:hover,
.navbar .nav .link:active
{
    background-color: #ededee;
    color: #202020;
    opacity: 1;
}

.navbar-top
{
    background-color: rgba(20,20,20,0.8);
    color: #ededee;
    left:0;
    max-width: 100%;
    padding: 2px;
    position: fixed;
    text-align: center;
    top:0;
    width: 100vw;
}

.nav_assist
{
    display: none;
    height: 2rem;
}

@media screen and (max-width:800px),
screen and (max-height:700px) {
    .nav
    {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 0;
        text-align: left;
        transform: translateY(-50%);
    }

    .navbar .nav .link
    {
        font-size: 0.8rem;
    }
}