.projectPlaceHolder
{
    margin-top: 3vh;
    font-size: 2em;
    max-width: 40vw;
}

.projectPlaceHolder .frontIcon
{
    font-size: 3em;
}

.projectPlaceHolder .projects
{
    font-size: 1rem;
    text-align: left;
}