.skills
{
    position: fixed;
}

.skills #skillset
{
    width: 100%;
    height: 100%;
}
.skills .content
{
    border: 1vw solid black;
    color: #000;
    background-color: #e8e8e8;
    padding: 1vh;
    opacity: 0.9;
    max-height: 80vh;
    max-width: 80vw;
    overflow-x: hidden;
    overflow-y: scroll;
}